@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');

.table-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.table-header{
    font-family: 'Press Start 2P', cursive;
    display: grid;
    grid-template-columns: 6vw 25vw 16vw 15vw 15vw 16vw;
    border-radius: 5px;
    border: 2px solid black;
    width: fit-content;
}

.header-name{
    text-align: center;
    border-right: 2px solid #dadada;
}

#records{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: fit-content;
    height: 50vh;
}

.record{
    display: grid;
    grid-template-columns: 6vw 25vw 16vw 15vw 15vw 16vw;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 93vw;
}

.slider{
    width: fit-content;
}

.visible{
    display: grid;
    justify-content: center;
    align-content: center;
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    .last-update, #last-update, .views, #views{
        display: none;
    }

    .table-header{
        grid-template-columns: 10vw 35vw 29vw 24.9vw;
    }
    
    .record{
        grid-template-columns: 10vw 35vw 29vw 24.9vw;
        width: fit-content;
    }
}

@media screen and (max-width: 450px) {
    .last-update, .views, #last-update, #views, .pub-date, #pub-date{
        display: none;
    }

    .table-header{
        grid-template-columns:  10vw 60vw 28.9vw;
    }

    .record{
        grid-template-columns: 10vw 60vw  28.9vw;
        width: fit-content;
    }

    .header-name{
        font-size: 13px;
    }

}