@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');

.form-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.colour-gradient{
    height: 100vh;
    width: 50vw;
    background: linear-gradient(153.69deg, #DEA5A4 0%, rgba(222, 165, 164, 0) 100%), #7851A9;
}

.form-sub-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
}

.header{
    font-size: 60px;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

label{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 20px;
}

.field{
    width: 35vw;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    padding-left: 10px;
}

.error-message{
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding-left: 10px;
}

.auth-page-link{
    margin-top: 15px;
}

.primary-btn{
    margin-top: 15px;
}