.track{
    width: 50px;
    height: 20px;
    border-radius: 15px;
    background-color: #dea5a4;
    transition: background-color 300ms linear;
}

.track-ball{
    position: relative;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
}

@keyframes moveTrackBallRight {
    from{

    }

    to{
        left: 32px
    }
}

@keyframes moveTrackBallLeft {
    from{
        left: 30px;
    }

    to{
        left: 3px
    }
}

.moveRight{
    animation: moveTrackBallRight 300ms linear forwards;
}

.moveLeft{
    animation: moveTrackBallLeft 300ms linear forwards;
}

.changeGreen{
    background-color: #68E895;
    transition: background-color 300ms linear;
}
